body, html {
    height: 100%;
}

.bg {

    position: absolute;
    top: 0;
    left: 0;
    /* The image used */
    background-image: url('/css/images/Untitled.png');
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar ul { 
	margin: 0; 
	padding: 16px; 
	list-style-type: none; 
	text-align: right; 
	background-color: #151D22;
    font-size: 1.5rem;
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #BBE1FA; 
	background-color: #151D22;
	} 
 
#navbar ul li a:hover { 
	color: #ffffff;
    transition: .5s; 
	} 

.header {
    color: #BBE1FA;
    font-size: 3.5rem;
    padding-left: 4rem;
}

.subheader {
    color: #BBE1FA;
    font-size: 1.35rem;
    padding-left: 4.5rem;
    line-height: .25rem;
}

.TTA {
    text-decoration: none;
    list-style: none;
    color: #BBE1FA;
}

.TTA:hover {
    color: white;
    transition: .4s;
}

.skillstxt {
    
}

.skillslst {
    text-align: center;
}

.L1 {
    width: 70rem;
    
}

.L2 {
    width: 70rem;
    background: transparent;
}

.L3 {
    width: 70rem;
}

.L4 {
    width: 70rem;
    background: transparent;
    
}

.L5 {
    width: 70rem;
}

.L6 {
    width: 70rem;
}

.L7 {
    width: 70rem;
}

/* PROJECTS PAGE */

.wrapper {
    width: 46rem;
    text-align: right;
    line-height: 40px;
}

.item1 {
    text-decoration: none;
    
}

p {
    color: #BBE1FA;
}

.a:visited {
    text-decoration: none;
    color: #BBE1FA;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #151D22;
    border: 1px solid #BBE1FA;
    color: #BBE1FA;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #151D22;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #151D22;
    padding: 20px;
  }