:root {
    --blue: #53a3fe;
    --white: #fff;
    --gray: #1a1a1a;
}

body {
    margin: 0;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed var(--blue);
    border-radius: 50%;
    color: var(--blue);
    padding: 75px;
    cursor: pointer;
}

.body-container:hover {
    transform: rotateZ(360deg);
    transition: .8s;
    background-color: var(--blue);
    color: var(--gray);
    border: 3px dashed var(--gray);
}

.body-container:hover body {
    background-color: white;
}

.body-container h1 {
    margin: 0;
    font-size: 3.8rem;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Zeyada', cursive;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    /* width: 100%; */
}

div.work-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div.work-text-wrapper p {
    display: flex;
}

.top-section {
    text-align: center;
    margin-top: 10rem;
}

.paragraph {
    margin: 0 2rem 2rem 2rem;
    font-family: 'Nanum Myeongjo', serif;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
    /* text-indent: 50px; */
    line-height: 1.9rem;
    letter-spacing: 1.3px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem 2rem 2rem;
    gap: 2rem;
}

.image-item {
    margin: 1rem;
    
}

.image-item img {
    max-width: 100%;
    width: auto;
    height: 200px;
    opacity: .8;
}

.image-item img:hover {
    opacity: 1;
}

.caption {
    font-family: 'Nanum Myeongjo', serif;
    color: var(--white);
    text-align: center;
    margin-top: .5rem;
}
img {
    width: 100px;
    height: 100px;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    color: var(--white);
    font-family: 'Nanum Myeongjo', serif;
    /* font-family: 'Grandiflora One', serif; */
    /* font-family: 'Outfit', sans-serif; */
    /* font-family: 'Rubik', 'sans-serif'; */
    /* font-family: 'Zeyada', cursive; */
}

.body-content a {
    text-decoration: none;
}

.body-content h2 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    /* margin-top: 2rem; */
    letter-spacing: 2px;
    border-top: 2px dashed var(--white);
    border-bottom: 2px dashed var(--white);
    padding: 2rem;
    color: var(--white);
    font-weight: 700;
}

.body-content h4 {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    border-top: 2px dashed var(--white);
    border-bottom: 2px dashed var(--white);
    padding: 2rem;
    color: var(--white);
    font-weight: 700;
}

.body-content h6 {
    display: flex;
    justify-content: center;
    font-size: .75rem;
    font-weight: 100;
    border-top: 2px dashed var(--blue);
    border-bottom: 2px dashed var(--blue);
    padding: 2rem;
    color: var(--blue);

}

h4 a {
    text-decoration: none;
    color: var(--blue);
}

.body-content a:hover {
    color: var(--blue);
    transition: .3s;
}

.home {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2rem;
    left: 1rem;
    width: 90px;
    height: 90px;
    border: 3px dashed var(--white);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.home a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.home span {
    font-size: 3rem;
}

.home:hover {
    transform: rotateZ(360deg);
    transition: .8s;
    /* background-color: var(--blue); */
    border: 3px dashed var(--blue);
}

.home:hover span {
    color: var(--blue);
}

/* Work */

h4.icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

h4.icons span {
    font-size: 36px;
}

h4.icons:hover span {
    color: white;
    transition: .3s;
}

a {
    text-decoration: none;
}

h4.work-text {
    border-top: 2px dashed var(--blue);
    border-bottom: 2px dashed var(--blue);
    width: 60%;
    text-align: right;
    letter-spacing: 1px;
    line-height: 28px;
    position: relative;
    color: var(--blue);
}

h4.work-text:hover {
    background-color: var(--blue);
    color: var(--gray);
    border: 2px dashed var(--gray);
}

h4.tech-text:hover {
    color: var(--white);
}

h4.my-work:hover {
    background-color: var(--blue);
    color: var(--white);
}

h4.my-work:hover a {
    color: var(--white);

}

h4.my-work a:hover {
    color: var(--white);
}

h4.tech-text:hover {
    pointer-events: none;
}

h5.resumetext {
    display: none;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    color: var(--blue);
}

.resume:hover h5 {
    display: flex;
    justify-content: center;
}

.resume {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2rem;
    right: 1rem;
    width: 90px;
    height: 90px;
    border: 3px dashed var(--white);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.resume span {
    font-size: 3rem;
    color: var(--white);
}

.resume:hover {
    transform: rotateZ(360deg);
    transition: .8s;
    border: 3px dashed var(--blue);
}

.resume:hover span {
    display: none;
}


/* Mobile  */

@media (max-width: 540px) {

    div.body-container {
        pointer-events: none;
    }

    div.body-content {
        display: flex;
        justify-content: start;
        margin-top: 5rem;
        gap: .5rem;
        font-weight: 400;
    }

    div.body-content h2 {
        font-size: 2.3rem;
    }

    div.body-content h4 {
        font-size: 1.1rem;
        color: var(--blue);
    }

    div.body-content h4:hover {
        pointer-events: none;
    }

    div.body-content a {
        color: white;
    }

    div.home {
        width: 60px;
        height: 60px;
    }

    div.home span {
        font-size: 2.2rem;
    }

    div.home:hover {
        pointer-events: none;
    }

    div.resume {
        width: 60px;
        height: 60px;
    }

    div.resume span {
        display: none;
    }

    h5.resumetext {
        display: flex;
        color: var(--white);
        font-size: .8rem;
    }

    div.resume:hover {
        pointer-events: none;
    }

}

/* END MOBILE */

/* TABLET */


@media (max-width: 700px) {
    h4.bottom-row-work {
        width: 60%;
    }
}

@media screen and (min-width: 541px) and (max-width: 1280px) {

    body {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    h5.resumetext {
        font-size: 1rem;
    }

    div.top-section {
        margin-bottom: 3rem;
    }

}
